.stepForm-title {
  height: 36px;
  width: 225px;
  left: 112px;
  top: 112px;
  border-radius: undefinedpx;
}

.stepForm-content {
  height: 29px;
  width: 757px;
  left: 112px;
  top: 148px;
  border-radius: undefinedpx;
}

.stepForm-button {
  height: 29px;
  width: 58px;
}

.stepForm-next-active {
  left: 1750px;
  top: 119.69302368164062px;
  border-radius: undefinedpx;
  color: #27AE60;
  ;
}

.stepForm-previous {
  left: 1661.3138427734375px;
  top: 119.69302368164062px;
  border-radius: undefinedpx;
}



.side-title-1 {
  height: 22px;
  width: 221.142578125px;
  left: 112.857421875px;
  top: 283px;
  border-radius: undefinedpx;
}

.side-title-2 {
  height: 22px;
  width: 221.99996948242188px;
  left: 112px;
  top: 393.010986328125px;
  border-radius: undefinedpx;
}

.side-title-3 {
  height: 22px;
  width: 221.99996948242188px;
  left: 112px;
  top: 504.4940490722656px;
  border-radius: undefinedpx;
}

.side-content-1 {
  height: 34px;
  width: 221.142578125px;
  left: 112.857421875px;
  top: 313.49664306640625px;
  border-radius: undefinedpx;
}

.side-content-2 {
  height: 34px;
  width: 222px;
  left: 112px;
  top: 423.50762939453125px;
  border-radius: undefinedpx;
}

.side-content-3 {
  height: 17px;
  width: 222px;
  left: 112px;
  top: 534.9906921386719px;
  border-radius: undefinedpx;
}

.btn-class {
  height: 37px;
  width: 133px;
  left: 1123.5px;
  top: 48px;
  border-radius: 5px;
  padding: 10px,
    22px,
    10px,
    22px;
  color: #27AE60;
}

.heading {
  margin: 50px;
  bottom: -10px;
  left: 10px;
}

.text-right {
  text-align: right;
  margin-top: 20px
}

.step-two {
  margin-top: 23px;
}

.step-three {
  margin-top: 15px;
}

.add-btn {
  width: 145px;
  left: 54px;
  top: 618px;
  border-radius: 5px;
  background: #ffbd51;
}
