.heading {
  margin-top: 19px;
}

.add-btn {
  margin: 25px;
  width: 145px;
  left: 54px;
  top: 618px;
  border-radius: 5px;
  background: #ffbd51;
}

.tbl {
  margin-left: 21px
}

.bodyy{
  width:100% !important;
}
