.mat-form-field {
  width: 100% !important;
}
.mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: #111;
}
.bg{
  background-color: white !important;
  margin: -15px;
    margin-left: -25px;
    margin-right: -25px;
    padding: 25px;
}
.close-btn{
  float: left;
  padding: 15px;
  .close-icon{
    font-size: 36px;
  }
}

.remove-btn {
  position: absolute;
  top: 0%;
  left: 95%;
  cursor: pointer;
}

.experience {
  position: relative;
  padding: 20px;
  // border: 1px solid black;
  margin-top: 10px;
}
::ng-deep .cdk-overlay-container {
  z-index: 1200 !important;
}