<form  [formGroup]="questionPaperForm">
    <div class="row">
        <div class="col-md-12">
          <div class="form-group diffcultyLevenContainer" style="white-space:nowrap; text-align: right; float: left;">
            <label>Name</label>
            <input type="text" name="QuestionTitle" id="" formControlName="QuestionTitle" class="form-control" style="width: 100%;">
          </div>
          <div class="form-group diffcultyLevenContainer" style="white-space:nowrap; float: right; text-align: right;">
            <!-- &nbsp;&nbsp;&nbsp;<label>Id</label> -->
            <label>Id</label>
            <input type="text" name="questionpaper_id" id="" formControlName="questionpaper_id" class="form-control" style="width: 50%;">
          </div>
        </div>
      </div>
      <hr>
      
</form>