.pd-30{
    padding: 30px;
}
.head{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 27px;
    color: #000000;
}
.ins{
    margin-left: 13px;
    margin-bottom: 15px;
}
.btn-add-ins{
    background: #00AB9A;
    border-radius: 5px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #DDDDEC;
    float: right;
}
.right{
    float: right;
}
