table.mat-table {
    width: 100%;
    border-spacing: 0;
}

.mat-column-name {
    width: 20% !important;
}

.mat-column-reject {
    width: 6% !important;
    
}

.mat-column-approve {
    width: 6% !important;
}