th.mat-header-cell.cdk-column-name.mat-column-name.ng-star-inserted {
    width: 60%;
}

th.mat-header-cell.cdk-column-time.mat-column-time.ng-star-inserted {
    width: 30%;
}

th.mat-header-cell.cdk-column-status.mat-column-status.ng-star-inserted {
    width: 10%;
}