.mat-form-field {
  width: 100% !important;
}

.bg {
  background-color: white !important;
  margin: -15px;
  margin-left: -25px;
  margin-right: -25px;
  padding: 25px;
}

::ng-deep .mat-tab-group.mat-primary .mat-ink-bar {
  background-color: #ffc04c !important;
}