.pt-26{
    padding-top: 26px !important;
}
.pl-24{
    padding-left: 24px !important;
}
.heading{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #2F80ED;
}
.btn-import{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2px 10px;
    position: absolute;
    width: 134px;
    height: 25px;
    left: 209px;
    top: 30px;
    background: #00AB9A;
    border-radius: 2px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #F5F5F5;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px;
}
.mt-7{
    margin-top: 7px !important;
}
.fetch-content{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #828282;
}
.pl-24{
    padding-left: 24px !important;
}
.mt-29{
    margin-top: 29px !important;
}
.pl-75{
    padding-left: 75px;
}
.btn-fetch{
    left: 102px !important;
    top: 5px !important;
}
.file-name{
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #242833;
}
.file-size-type{
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: #5D6373;
}
.file-date{
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #828282;
}
.check{
    background: #FFC30A !important;
}
.content-row{
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}
.pt-64{
    padding-top: 64px !important;
}
.image-icon{
    margin-left: -25px !important;
    margin-top: -15px !important;
}
